.woocommerce {
	ul.products {
        max-width: 1086px;

        &.columns-5 li.product {
            width: 17.496%;
            margin-right: 3.132%;

            &.last {
                margin-right: 0;
            }
        }

		li.product {
            overflow: hidden;
            border-radius: 4px 4px 0px 0px;
            // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
            // border-radius: 10px 10px 0px 0px;

            a {
                color: $color-dark;

                img {
                    margin-bottom: 18px;
                }

                .woocommerce-loop-product__title {
                    padding: 0 17px;
                    font-size: 0.813rem;
                    line-height: 1.125rem;
                    font-weight: 600;
                }

                p {
                    padding: 0 17px;
                    margin-bottom: 4px;
                    font-size: 0.688rem;
                    line-height: 1.125rem;
                }

                .star-rating {
                    margin: 0 0 15px 17px;
                    width: 100%;
                    color: $color-product-rating;
                    letter-spacing: 8px;
                    font-size: 0.563rem;
                }

                .price {
                    display: flex;
                    flex-direction: column-reverse;
                    padding: 0 17px 15px 17px;
                    margin-bottom: 0;
                    letter-spacing: 1px;

                    .woocommerce-Price-amount, ins {
                        color: $color-dark;
                        font-size: 1.125rem;
                        line-height: 1.125rem;
                        text-decoration: none;
                        font-weight: 600;
                    }

                    ins {   
                        .woocommerce-Price-currencySymbol {
                            margin-right: 6px;
                        }
                    }

                    del  {
                        .woocommerce-Price-amount {
                            font-size: 0.750rem; 
                            line-height: 1.125rem;
                            opacity: 1;
                         }

                         .woocommerce-Price-currencySymbol {
                            margin-right: 4px;
                        }
                    }
                }

                .sale-perc {
                    position: absolute;
                    bottom: 15px;
                    right: 24px;
                    font-size: 0.750rem; 
                    line-height: 1.125rem;
                    color: $color-red; 
                }

                .discount-badge {
                    position: absolute;
                    top: 18px;
                    left: -50px;
                    @include flex-center;
                    display: none;
                    height: 35px;
                    width: 70%;
                    transform: rotate(-45deg);
                    background-color: $color-secondary;
                    color: $color-white;
                    text-transform: uppercase;
                    font-size: 0.813rem;
                    font-weight: 600;
                    line-height: 1.125rem;
                }

                .new-badge {
                    position: absolute;
                    top: 10px;
                    left: 24px;
                    @include flex-center;
                    width: 68px;
                    height: 30px;
                    background-color: $color-primary;
                    box-shadow: $box-shadow-big;
                    color: $color-white;
                    border-radius: 10px;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                .onsale {
                    display: none;
                }               
            }

            // YITH WooCommerce Wishlist Plugin
            .yith-wcwl-add-to-wishlist {
                position: absolute;
                right: 16px;
                top: 14px;
                margin: 0;

                &:hover i:before {
                    content: "\f004";
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 1.250rem;
                }
                
                i {
                    color: $color-light;
                    margin: 0;
                    font-size: 1.250rem;
                }

                .yith-wcwl-wishlistexistsbrowse:before,
                .yith-wcwl-wishlistaddedbrowse:before {
                    content: "\f004";
                    font: normal normal normal 14px/1 FontAwesome;
                    color: $color-light;
                    font-size: 1.250rem;
                }

                span {
                    display: none;
                }

                .yith-wcwl-wishlistexistsbrowse a,
                .yith-wcwl-wishlistaddedbrowse a {
                    display: none;
                }
            }
        }
    }
}
